footer {
    text-align: center;
    color: white;
    margin-top: 20px;
}
body {
    background: #0d0d24;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
nav {
    background: #1e1e3f;
    padding: 10px;
}
* {
    font-family: 'Poppins', sans-serif;
}
nav a {
    color: white;
    margin: 10px;
}

.card {
    background: #1e1e3f;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.texto-principal p {
    margin-bottom: 15px;
    line-height: 1.6;
}